<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Cars</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="http://localhost:7077/styles/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="container">
		<h1>Howdaya Like These Cars?</h1>
		<img src="../images/1964_coupe.jpg" alt="1964 Mustang Coupe">
		<img src="../images/1968_gt.jpg" alt="1968 Mustang GT 350">
		<img src="../images/1969_boss.jpg" alt="1968 Mustang Boss">
		<img src="../images/2019_shelby.jpg" alt="2019 Mustang Shelby">
	</div>	
</body>
</html>