<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Create a Car</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="http://localhost:7077/styles/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="container">
		<h1>Add a Car</h1>
		<hr class="my-4">
		<form href="#">
			<div class="form-group">
				<p>Your Name: <input type="text" class="form-control" name="name"></p>
				<p>Make: 
					<select name="weapon" class="form-control">
						<option value="ford">Ford</option>
						<option value="chevy">Chevy</option>
						<option value="dodge">Dodge</option>
					</select>
				</p>
				<p>Model: <input type="text" class="form-control" name="model"></p>
				<p>Year: <input type="text" class="form-control" name="year"></p>
				<h5>Body Style:</h5>
				<div class="radio">
					<p><input type="radio" class="form-check-input" name="body_style" value="coupe">Coupe</p>				
					<p><input type="radio" class="form-check-input" name="body_style" value="sedan">Sedan</p>
				</div>				
				<button type="submit" class="btn btn-outline-primary">Submit</button>
			</div>	
		</form>	
	</div>	
</body>
</html>