<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Epic Button Game</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="static/scripts/script.js"></script>	
</head>
<body>
	<div class="container">
		<h1 class="display-4">The button has been pushed <span class="counter">0</span> times!</h1>
		<hr class="my-4">
		<p class="lead">Push the button to update the count!</p>
		<button class="btn btn-primary" type="submit">Push this EPIC Button!</button>
		<div class="reset">
			<button class="btn btn-danger" type="submit">Reset</button>
		</div>	
	</div>	
</body>
</html>