<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Mongoose Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/client/static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h1 class="display-4">Add a new Pupper Doggo!</h1>
		<hr class="my-4">
		<form action='/puppers' method='post' class="form-group">
			<h5>Name: <input type="text" name="name" class="form-control"></h5>
			<h5>Age: <input name="age" class="form-control"></h5>
			<h5>Weight: <input name="weight" class="form-control"></h5>
			<h5>Favorite Activity: <input name="activity" class="form-control"></h5>
			<button type="submit" class="btn btn-outline-primary">Add my Pupper Doggo!</button>
		</form>	
	</div>
</body>
</html>		