.container {
	background-color: #e0ffff73;
	padding: 10px;
	text-align: center;
}
.msgs {
	background-color: white;
	vertical-align: top;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
}
input.form-control {
	margin: 10px 0px;
}