<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Quoting Dojo</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h1 class="display-4">Welcome to Quoting Dojo</h1>
		<hr class="my-4">
		<form action='/quotes' method='post' class="form-group">
			<h5>Name: <input type="text" name="name" class="form-control"></h5>
			<h5>Quote: <textarea name="quote" class="form-control" rows="5" cols="55"></textarea></h5>
			<button type="submit" class="btn btn-outline-primary">Add my Quote!</button>
		</form>	
		<a href='/quotes' class="btn btn-outline-dark">Skip to Quotes!</a>
		</form>	
	</div>	
</body>
</html>