<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Counter</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="display-4">Counter</h1>
		<h4><%=count %></h4>
		<form action='/two' method="post">
			<button class="btn btn-outline-primary" type="submit" value="2">Add Two</button>
		</form>	
		<hr class="my-4">
		<form action='/reset' method="post">
			<button class="btn btn-outline-danger" type="submit" value="clear">Reset</button>	
		</form>
	</div>	
</body>
</html>